.header,
.carousel,
.main,
.footer {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 960px;
}

.inner:after {
	clear: both;
	height: 0;
	content: '.';
	visibility: hidden;
	display: block;
}

.weibo {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.weibo-left {
	padding-right: .7em !important;
	padding-left: .7em !important;
}

.weibo-right {
	padding-left: 1em !important;
	padding-right: 1em !important;
}